@{
    ViewBag.Title = "Choose mode";
}

<h2>Choose Mode</h2>
<hr/>
@Html.ActionLink("Binary Mode", "PlayBinary", "Play", new { @class = "btn btn-info gray-x display-inline-block float-right margin-top-short" })
<hr/>
@Html.ActionLink("Multiple Choice", "PlayMultiple", "Play", new { @class = "btn btn-default gray-x display-inline-block float-right margin-top-short" })