<div class="jumbotron">
    <h1>Greetings!</h1>
    <h3 class="lead">Welcome to the Famous Quote Quiz Game! Have fun playing!</h3>
    @Html.ActionLink("Choose mode", "ChooseMode", "Play", new { area = "" }, new { @class = "btn btn-warning btn-lg" })
</div>
